.container {
    max-width   : 1140px;
    width       : 100%;
    margin-left : auto;
    margin-right: auto;
}

header {
    /* background-image: url(images/logo.jpg);
background-repeat: no-repeat;
background-position: 50% 50%; */
    position: relative;
}

.logo {
    text-align: center;
}

.icon {
    display        : flex;
    justify-content: flex-end;
    align-items    : flex-end;

}

.menu-icon a {
    position: absolute;
    left    : 0px;
    bottom  : 0px;

    color    : brown;
    font-size: 2.5em;
    display  : none;
}



.nav ul {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin        : 0px;
    padding       : 0px;

    /* background-color: brown; */

}

.nav li {
/* height: 30px; */
    background-color   :brown;
    text-align         : center;
    list-style-type    : none;
    padding            : 1em;
    /* margin-top      : 0.5em; */
    flex    : auto;
    position: relative;

}

/* 二層選單 */
ol {
     position   : absolute; 
    margin-left: -1em;
    margin-top : 8.5%;
    padding    : 0%;
    width      : 100%; 
    z-index: 550;
    display: none;


    
}

.menu li {
    margin: 0px;
    height: 2em;

    
}

.nav li:hover {
    /* 滑鼠滑入背景變色*/
  background-color: rgb(223, 86, 52);
   
}

.nav li:hover > ol{
display: block;
}

.nav a {
    text-decoration: none;
    color          : white;
    font-size      : 1.1rem;
    text-align     : center;
}




.banner {
    background-image : url(/public/images/about/about_banner.jpg);
    background-size  : cover;
    background-repeat: no-repeat;
    /* max-width     : 100%; */

    /* background-color: blue; */
    padding-bottom  : 25.5%;
}

/* ////////麵包屑/////////// */
.breadcrumb ul {
    display: flex;
}

.breadcrumb li::before {
    content    : " 》";
    font-weight: 1000;
    color      : black;

}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb li {
    list-style-type: none;
}

.breadcrumb span {
    text-decoration: none;
    font-size      : 1.3rem;
    font-weight    : 1000;
    color          : black;
}

.breadcrumb a {
    text-decoration: none;
    font-size      : 1.3rem;
    font-weight    : 1000;
    color          : black;
}

.breadcrumb a:hover{
    color: tomato;
}
.breadcrumb span:hover{color: tomato;

}
/* 麵包屑結束 */
section p {
    font-size  : 1.3em;
    font-weight: 10000;
}

section h1 {
    font-size: 2rem;
    color    : tomato;
}

.right_img {


    float: right;
}

.right_img img {
    width        : 89%;
    margin-left  : 2em;
    margin-bottom: 2em;
    height       : auto;
}

.left_text {}


/* ///////////頁尾//////////////// */
footer {
    margin-top: 4em;
    background-color: tomato;
    clear           : both;
}

.footer_box {
    display        : flex;
    justify-content: space-between;
    /* display     : inline-block; */
}

.footer_div {
    width         : 33%;
    display       : block;
    float         : left;
    text-align    : center;
    padding-top   : 2rem;
    padding-bottom: 2rem;
}



.footer_box li {
    list-style-type: none;
    float          : left;
    width          : 24%;
    text-align     : center;
    border-right   : 2px solid white;

}

.footer_box a {
    text-decoration: none;
    color          : white;


}



.footer_div p {
    margin-top: 2em;
    color     : white;
    font-size : 1em;
}

.footer_div {
    width         : 100%;
    display       : flex;
    flex-direction: column;
}

.footer_div ul {
    margin        : 0;
    padding       : 0;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;

}

.footer_div li {
    width : auto;
    margin: .2em;
    flex  : auto;

}

li:last-child {
    border-right: none;
}

/* ///////////////////平板/////////////////// ////// */
@media screen and (max-width: 767px) {
    /* // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。 */

    .puoduct {
        width: 48%;
    }


    p {
        font-size: 10px;
        color    : rgb(133, 204, 52);
    }



}

/* //////////////////////手機////////////////////// */

@media screen and (max-width: 480px) {

    .menu-icon a {
        position : absolute;
        left     : 0px;
        bottom   : 0px;
        display  : block;
        color    : brown;
        font-size: 2.5em;
    }

    .nav li {
        display: none;
    }

    .puoduct {
        width: 100%;
    }

    p {
        font-size: 10px;
        color    : rgb(85, 52, 204);
    }

    .store {
        width: 100%;

    }

    .footer_box {
        display       : inline-flex;
        flex-direction: column;
        align-items   : center;
    }

    .footer_div {
        width         : 100%;
        display       : flex;
        flex-direction: column;
    }

    .footer_div ul {
        margin : 0;
        padding: 0;
        display: flex;
    }

    .footer_div li {
        width  : 23%;
        margin : .2em;
        /* flex: auto; */
    }


    .footer_div p {


        font-size: 0.8em;
    }

    .footer_div a {


        font-size: 0.8em;
    }

    /* ////////麵包屑/////////// */
    .breadcrumb ul {
        display: flex;
    }

    .breadcrumb li::before {
        content    : " 》";
        font-weight: 1000;
        color      : black;

    }

    .breadcrumb li:first-child::before {
        content: "";
    }

    .breadcrumb li {
        list-style-type: none;
    }

    .breadcrumb span {
        text-decoration: none;
        font-size      : 1rem;
        font-weight    : 1000;
        color          : black;
    }

    .breadcrumb a {
        text-decoration: none;
        font-size      : 1rem;
        font-weight    : 1000;
        color          : black;
    }
}